#myphoto {
    width: 200px;
    border-radius: 50%;
    justify-content: center;
}

.postphoto {
    width: 400px;
    float: right;
    /* Below are not from lab sheet instructions. Personal design additions. */
    border-radius: 10%;
    margin: 5px;
    padding: 3px;
    border: 7px dotted blanchedalmond;
}

body {
    font-size: 18px;
    color: #2d3748;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    /* Below are not from lab sheet instructions. Personal design additions. */
    border: 15px dotted blanchedalmond;
    border-radius: 30px;
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

header {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
    background-color: #63b3ed;
    color: #ffffff;
    /* Below are not from lab sheet instructions. Personal design additions. */
    padding: 30px;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

h1.headertext {
    font-size: 36px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

.posttitle {
    font-size: 32px;
    color: #48bb78;
}

.postdetails {
    color: #718096;
}

aside h3 {
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#aboutsection h3 {
    color: #000000;
}

#aboutsection {
    background-color: #E2E8F0;
    padding: 30px;
    /* Below are not from lab sheet instructions. Personal design additions. */
    margin-top: 40px;
    margin-right: 40px;
    border-radius: 20px;
}

aside a {
    color: #4299E1;
}

main {
    grid-column: 1;
    /* Not a lab sheet instruction. Personal design addition. */
    padding: 40px;
}

article {
    /* Not a lab sheet instruction. Personal design addition. */
    padding-bottom: 10px;
}

aside {
    grid-column: 2;
}

footer {
    grid-column: span 2;
    background-color: #2C5282;
    color: #FFFFFF;
    /* Below are not from lab sheet instructions. Personal design additions. */
    padding-left: 40px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}